@use "bootstrap/scss/bootstrap" as *;

//variables

$light-text: $gray-100;
$light-text-emphasis: $gray-200;
$dark-text: $gray-900;
$dark-text-emphasis: $gray-700;

$info: $cyan;

//global

html {
    scroll-padding-top: 4rem; //offset for fixed nav
}

body {
    margin: 0 auto;
}

p {
    color: $dark-text;
    text-align: justify;
}

h2 {
    margin-left: -0.25rem;
}

i {
    font-size: 3rem;
}



#content {
    margin-top: 4rem;
    scroll-behavior: smooth;
    max-width: 900px; 
}

// Nav

#top-nav {
    background-color: white;
    z-index: 10;
    height: 3.5rem;

    .hovering {
        cursor: pointer;
    }
}

#left-nav {
    top: 4rem;
    scroll-behavior: smooth;

    .nav-link.active {
        background-color: $info; // Use your $cyan variable for visibility
        color: $dark-text; // Ensure contrast
        font-weight: bold; // Optional for emphasis
    }
}

//About

#about {

    a {
        text-decoration: none;
        color: #007BFF
    }

    .about-date {
    min-width: 6rem;
    }

    .about-mail {
        min-width: 10rem;
    }
}



// Resume

$col-widths: (
    1: 6rem,
    2: 10.5rem,
    3: 12rem,
    4: 14rem
);

#section-container { 
    position: relative;
    padding: 0 2rem;
}

.custom-container {
  @include make-container();
  padding: 1rem 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.192);
  border-radius: 10px;
  margin-bottom: 1rem;

  a {
    color: #007BFF !important;
    text-decoration: none !important;
  }

  .date {
    min-width: 10rem;
  }

  .basics {
    min-width: 7rem;
  }
  
}

// Repositories

#repositories {

    .img-style {
        margin-bottom: 0.5rem;
    }
}


