@use "bootstrap/scss/bootstrap" as *;


//global

html {
  scrollbar-gutter: stable;
  scroll-padding-top: 4rem;
}

body {
  margin: 0 auto;
}

h2 {
  margin-left: -0.25rem;
}

i {
  font-size: 3rem;
}

::-webkit-input-placeholder {
  text-overflow: ellipsis;
  overflow: hidden;
}

.justifying-text {
  text-align: justify;
}

#content {
  margin-top: 4rem;
  scroll-behavior: smooth;
  max-width: 900px; 
}

// Nav

#top-nav {
  z-index: 10;
  height: 3.5rem;
  background-color: var(--bs-body-bg);
}

#left-nav {
  top: 4rem;
  scroll-behavior: smooth;

  .active{
    color: green;
  }
}

//About

#about {

  a {
    text-decoration: none;
    color: #007BFF
  }

  .about-date {
    min-width: 6rem;
  }

  .about-mail {
    min-width: 10rem;
  }
}

// Projects
.banner-container {
  height: 70px;
  overflow: hidden;  
}

.banner {
  height: 100%;
  object-fit: cover;
}

.hovering {
  cursor: pointer;
}

// Sudoku

textarea {
  width: 100%;
}

#user-stories {
  font-size: 1.2em;
}

#error-msg {
  color: red;
  display: block;
}

#valid-msg {
  color: green;
  display: block;
}

#sudoku-grid-container {
  display: flex;
  flex-direction: row;
}

#sudoku-grid {
  text-align: center;
  display: inline;
}

.grid {
  border: 3px solid;
  border-spacing: 0;
}

.yAxisLegend {
  margin-top: 2.15rem;
  text-align: center;
  font-weight: bold;

  td {
    width: 2rem;
    height: 2rem;
  }
}

.xAxisLegend {
  border-spacing: 0;
  font-weight: bold;
}

.xAxisLegend tr td {
  width: 2rem;
  height: 2rem;
  text-align: center;
  vertical-align: bottom;
  padding-bottom: 0;
}

.sudoku-input {
  border: 1px solid;
  width: 2rem;
  height: 2rem;
  text-align: center;
  box-sizing: border-box;
}

.C1, .C2, .C3, .C4, .C5, .C6, .C7, .C8, .C9, .F1, .F2, .F3, .F4, .F5, .F6, .F7, .F8, .F9 {
  border-bottom: 3px solid ;
}

.A3, .B3, .C3, .D3, .E3, .F3, .G3, .H3, .I3, .A6, .B6, .C6, .D6, .E6, .F6, .G6, .H6, .I6 {
  border-right: 3px solid;
}

.sudoku-numbers {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  border: none;
}

// Peak Solar Hours

.worst-case {
  color: red;
}

// Resume

$col-widths: (
    1: 6rem,
    2: 10.5rem,
    3: 12rem,
    4: 14rem
);

#section-container { 
    position: relative;
    padding: 0 2rem;
}

.custom-container {
  @include make-container();
  padding: 1rem 1rem;
  box-shadow: 0 0 10px var(--bs-border-color);
  border-radius: 10px;
  margin-bottom: 1rem;

  p {
      
      text-align: justify;
  }

  a {
    text-decoration: none;
  }

  .date {
    min-width: 10rem;
  }

  .basics {
    min-width: 7rem;
  }
  
}

// Repositories

#repositories {
    .img-style {
        margin-bottom: 0.5rem;
    }
}


